# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
ENV/

# TensorFlow / Keras models
*.h5
*.hdf5
*.keras
*.pb
*.ckpt

# IDE / editor files
.vscode/
.idea/

# Node.js modules
node_modules/

# Logs
*.log

# Environment / secret files
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Others
*.sqlite3